{{#each Words}}
<div data-id="{{id}}" name="word-{{id}}" data-group="{{group_type}}" class="grid word-agent">
    <div class="word">
        <div class="word__side word__side--front  word__side--front-{{id}} ">
            {{!-- visible-{{visible}}// view css to be handled server side later --}}
            {{word}}
        </div>
        <div class="word__side word__side--back  word__side--back-{{id}} agent-{{group_type}}">
            {{word}}
        </div>
    </div>
</div>
{{/each}}