{{#each words}}
    <p data-id="{{id}}" name="tile-{{id}}" data-group="{{group_type}}" class="tile" 
    {{#if visible || !players.type}} class="tile-visible" {{else}} class="tile-not-vissible" {{/if}}> 
    {{!-- view css to be handled server side later --}}
        {{word}}
    </p>
{{/each}} 