    <h3 id="scores-header">Scores</h3>
    {{!-- <span class="teamA">
        <p id="teamAscore">{{#if word.group_type == 1}} {{word.visible.length}} {{else}} {{endRound()}} {{/if}}</p> 
    </span>
    <span class="teamA">
        <p id="teamBscore">{{#if word.group_type == 2}} {{word.visible.length}} {{else}} {{endRound()}} {{/if}}</p> 
    </span> --}}