<header class="rooms-header container-fluid row">
    <div class="room-info hdr-item col-4">
        <h1 id="room-name">{{room_name}}</h1> 
        <h3 id="access-code-display">Access Code: ( {{room_access_code}} )</h3>
    </div>
    <div class="hdr-item col-4" id="clue-total-wrap">
        {{#if player_type}}
            <span>{{> submitclue }}</span>
        {{else}}
            <div class="display-clue-wrap"><label class="clue-label">Current Clue:</label>  {{ clue_text }} - {{clue_number}}</div>
        {{/if}}
    </div>
    <div class="scores-wrap hdr-item col-2">{{> scores }}</div>
    <div class="hdr-item navbar col-2" id="nav">{{> nav }}</div>
</header>
<div class="board-wrap container-fluid">
    {{#if player_type }}
        {{> masterboard }}
    {{else}}
        {{> agentboard }}
    {{/if}}
</div>